
html{
    font: size 100%;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #bcaaff;
    font: 1em sans-serif;
    font-size: 90px;
    font-display: block;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    
}
h3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    text-align: center;

}




body{
    background-image: url("IMG3.jpg");
    background-repeat: repeat-y;
    background-position-x: center;
    background-position-y: center;
    background-color: rgb(38, 4, 57);
}

nav{
    list-style: none;
    column-gap: normal;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    
}
.collumn{
    display: flex;
    align-items: center;
    

}