



html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

h2 {
    color: #4a0aec;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    
}
h3 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-align: center;

}
body {
    color: white;
    font-size: large;
    text-align: center;
}


.collumn ul {
  list-style: none;
  display: flex;
  justify-content: center; 
  gap: 20px;                
  padding: 0;
  
  
    

}

.collumn ul li img{

    height: 180px;
    width:auto;
    padding: 0px 0px 10px;
    list-style: none;
    
   
}




/*for hero image*/
img {

width: 90%;
height: auto;
align-items: center;
display: flex;
padding: 40px 30px 0px;



 
}


   
    
   



  



body{
    
    background-repeat: repeat-y;
    background-position-x: center;
    background-position-y: center;
    background-color: rgb(38, 4, 57);
    max-width: 100%;

}
nav{
            
    background-color: #4a0aec;
    padding: 10px 20px 10px;
    align-items: center;

}

nav ul{
    list-style: none;
    column-gap: normal;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: #ffffff;
    align-items: center;
    font-weight: bold;
    display: flex;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    background-color: #4a0aec;
    padding: 10px;
    border-radius: 8px;
   
    

}

nav ul li {

padding-left: 10px;
padding-right: 20px;
color: white;
text-align: center;
font-size: large;

}

nav ul li a {

    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}


/*for image collumns*/
.collumn img{
    
    list-style-type: none;
    height: 25rem;
    width:auto;
    align-items: center;
    
 

